<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>search_youtube</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/css/theme.default.min.css">
<style>
#fav-table th {
    background-color:pink;
}
</style>
<script>
    $(document).ready(function() {
    var exp = /(\b(https?|ftp|file):\/\/www.youtube.com[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
    $('body').html($('body').html().replace(exp,"<a href='$1' target='_blank'><img  height='20' src='images/logo.svg'></a>"));
    var exp = /(\b(https?|ftp|file):\/\/t.co[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
    $('body').html($('body').html().replace(exp,"<a href='$1' target='_blank'>$1</a>"));
    $('#fav-table').tablesorter();
});
</script>
</head>
<body>
<div class="card-body">
    <table id="fav-table" class="table table-bordered">
        <thead><tr><th>タイトル</th><th sortable>概要</th><th>再生数</th><th>投稿日時</th><th>サムネイル</th><th>URL</th><th>チャンネル名</th><th>登録者数</th><th>チャンネルURL</th></tr></thead>
        {{ sorce }}
    </table>
    </div>
</body>
</html>